## General
.DS_Store

## Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

## User settings
xcuserdata/

### Google
GoogleService-Info.plist
